---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Pagina Non Trovata">
  <div class="container text-center">
    <h1>404 - Pagina Non Trovata</h1>
    <p>Oops! La pagina che stai cercando non esiste.</p>
    <a href="/" class="button">Torna alla Homepage</a>
  </div>
</BaseLayout>